* {
    margin: 0px;
    text-align: center;
}

#testpage {
    margin-top: 150px;
    padding-top: 15px;
    border: 1px solid black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 375px;
}

button {
    background-color: transparent;
    color: teal;
    margin-top: 30px;
    border-radius: 1rem;
    width: 150px;
    height: 50px;
    border: 1px solid teal;
    text-transform: uppercase;
}


button:hover {
    cursor: pointer;
    background-color: rgb(142, 213, 213);
    color: white;
   
}

#display-test {
    margin-top: 50px;
}

input {
    margin: 5px;
    
}

label {
    font-size: 48px;
    margin-left: 20px;
}
h1 {
  text-align: center;
}


body {
    background-image: url('../assets/imgs/background.png');
    background-size: cover;
}

#next {
    margin-top: 30px;
}

button:disabled {
   display: none;
}