* {
    margin: 0px;
    text-align: center;
}

#answer-button, #sound-button {
    background-color: transparent;
    color: teal;
    margin-top: 30px;
    border-radius: 1rem;
    border: 1px solid teal;
    text-transform: uppercase;
    font-size: 48px;
    
}
#answer-button:hover {
    cursor: pointer;
    background-color: rgb(142, 213, 213);
    color: white;
    font-size: 48px;
}

input {
    margin: 5px;
    
}

label {
    font-size: 48px;
    margin-left: 20px;
}
h1 {
  text-align: center;
}


body {
    background-image: url('../assets/imgs/background.png');
    background-size: cover;
}