* {
    margin: 0px;
    text-align: center;
}

#sound-button {
    padding: 20px;
    border: 1px solid black;
    margin: 20px;
}

#answer-button {
    padding: 20px;
    border: 1px solid black;
    margin: 20px;
}

input {
    margin: 5px;
    
}

label {
    font-size: 24px;
    margin-left: 20px;
    
<<<<<<< HEAD
=======
}

h1 {
    text-align: center;
>>>>>>> f812261f3211c67e5b8559f988444cd7a14eb289
}