@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Playfair+Display&display=swap');



h1 {
  font-family: Playfair, sans-serif;

}
* {
    margin: 0;
    background-origin: border-box;
    text-align: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
<<<<<<< HEAD
=======
    position: relative;
>>>>>>> f812261f3211c67e5b8559f988444cd7a14eb289
    width: 200px;
    background-color: #f1f1f1;
    float: right;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase; 
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }

  .active {
    background-color: #F2BDBD;
    color: white;
  }