* {
    margin: 0px;
    text-align: center;
    box-sizing: border-box;

}

body {
    background-image: url('../assets/imgs/background.png');
    background-size: cover;
}

#chart-div {
    border: 2px solid #D98B8B;
    margin: 25px 10% 25px 10%;
}

#results {
    margin-top: 50px;
    
}

h1 {
    padding: 20px;
    background-image: linear-gradient(to right, transparent,#F2BDBD, transparent) ;
    border-radius: 1.4rem;
    background-size: cover;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.chart-container {
    margin-left: 150px;
    height: 11vh; 
    width: 84vw;
    margin-bottom: 40px;
    padding-bottom: 100px;
    
} 

canvas {
    height: 20vh;
}