* {
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}

section {
    padding: 20px;
    margin: 10px;
}

span {
    margin: 10px;
}

h1 {
    padding: 15px;
    background-image: linear-gradient(to right, transparent,#F2BDBD, transparent) ;
    border-radius: 1.4rem;
    background-size: cover;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

body {
    background-image: url('../assets/imgs/background.png');
    background-size: cover;
}

#learning {
    width: 55%;
    margin: 100px auto 150px auto;
}

#intro-learning {
    display: flex;
    width: 100%;
}    

#how {
    width: 100%;
}

.yunmu-button {   
    background-color: white;
    color: teal;
    margin-top: 30px;
    border-radius: 1rem;
    width: 150px;
    height: 50px;
    border: 1px solid teal;
    font-size: 22px;
}
.yunmu-button:hover {
    cursor: pointer;
    background-color: rgb(142, 213, 213);
    color: white;
}

.zhengti-button {   
    background-color: white;
    color: teal;
    margin-top: 30px;
    border-radius: 1rem;
    width: 150px;
    height: 50px;
    border: 1px solid teal;
    font-size: 22px;
}
.zhengti-button:hover {
    cursor: pointer;
    background-color: rgb(142, 213, 213);
    color: white;
}

.shengmu-button {   
    background-color: white;
    color: teal;
    margin-top: 30px;
    border-radius: 1rem;
    width: 150px;
    height: 50px;
    border: 1px solid teal;
    font-size: 22px;
}
.shengmu-button:hover {
    cursor: pointer;
    background-color: rgb(142, 213, 213);
    color: white;
}

.hint {
    text-align: center;
    margin-top: 10px;
    opacity: .5;
    font-size: 20px;
}

#panda {
    position: fixed;
    /* top: 9%; */
    bottom: 45%;
    left: 36%;
    
  }
  
  img {
    max-width: 15vw;
    position: fixed;
    bottom: 74.7%;
  }

